<section class="validate-password">
    <img width="300px" src="/assets/toucan.png">
    <form class="validate-password-form">
        <p *ngIf="!newUser"> Please enter your password to access your documents </p>
        <p *ngIf="newUser"> Please enter a password in order to complete the registration </p>
        <md-input-container>
            <input md-input placeholder="Password" type="password" #password>
        </md-input-container>
        <button *ngIf="newUser" md-raised-button [color]="'primary'" (click)="register(password.value)">Register</button>
        <button *ngIf="!newUser" md-raised-button [color]="'primary'" (click)="validate(password.value)">Login</button>
    </form>
</section>